extends ../layout

block content
  .page-header
    h3 Investment Complete!
    .panel.panel-primary
      .panel-heading
        h3.panel-title Loan Information
      .panel-body
        ul.list-group
        if(typeof loan_ !== "undefined")
          if(typeof loan_.loanDescription !== "undefined")
            li.list-group-item
              =loan_.loanDescription
          if(typeof loan_.amountWanted !== "undefined")
            li.list-group-item
              ="amountWanted: $" + loan_.amountWanted
          if(typeof loan_.amountLoaned !== "undefined")
            li.list-group-item
              ="amountLoaned: $" + loan_.amountLoaned
          if(typeof loan_.creditScore !== "undefined")
            li.list-group-item
              ="creditScore: " + loan_.creditScore
          if(typeof payment.state !== "undefined")
            li.list-group-item
              ="State: " + payment.state
          if(typeof payment.cart !== "undefined")
            li.list-group-item
              ="Cart: " + payment.cart
          if(typeof payment.payer.email !== "undefined")
            li.list-group-item
              ="Email: " + payment.payer.email
          if(typeof payment.create_time !== "undefined")
            li.list-group-item
              ="Time of investment: " + payment.create_time
