extends layout

block content

  .page-header
    - const pStyles = {"text-align": "center", "text-transform": "uppercase" };
    h1(style=pStyles) Mission Statement

    style.
        p {
            text-decoration: bold;
        }
