extends layout

block content
    .row.flexrow
        .col-sm-6
            h1 Fresh Start
            p.lead A system that works for everyone
        .col-sm-3
        .col-sm-3
            .form-group
                .input-group
                    input.form-control(type='text', name= 'search', id = 'search', placeholder='Search')
    hr
    .row(id = "block")
    .jumbotron(id="default")
        
    .row
        nav(aria-label='...')
            ul.pagination
                li.active
                    button.btn.btn-default(id='previous')
                        | &laquo;
                li.active
                    button.btn.btn-info(id = 'current_page', style='outline: none; background-color: #3498DB; border-color: #3498DB;')
                        | Page 1
                li.active
                    button.btn.btn-default(id='next')
                        | &raquo;
