extends layout

block content
    .row
        .col-sm-6
            h1 Plant Share
            p.lead A way to freely share your plants
        .col-sm-3
        .col-sm-3
            .form-group
                span Miles from zip
                select.form-control(id = 'dist')
                    option(value='5', selected = true) 5
                    option(value='10', selected = true) 10
                    option(value='15', selected = true) 15
                    option(value='20', selected = true) 20
                    option(value='25', selected = true) 25
                    option(value='50000', selected = true) 50000
                .input-group
                    .input-group-addon
                        span.glyphicon.glyphicon-map-marker(aria-hidden="true", id="icon_1", style="display:none")
                        span.glyphicon.glyphicon-screenshot(aria-hidden="true", id="icon_2", style="")
                    input.form-control(type='text', name= 'zip', id = 'zip', placeholder='Zipcode')
    hr
    .row(id = "block")
    .jumbotron(id="default")
        .h2
            | No one has posted any plants in your area!
        p
            | You can be the first one to post!
    .row
        nav(aria-label='...')
            ul.pagination
                li.active
                    button.btn.btn-default(id='previous')
                        | &laquo;
                li.active
                    button.btn.btn-info(id = 'current_page', style='outline: none; background-color: #3498DB; border-color: #3498DB;')
                        | Page 1
                li.active
                    button.btn.btn-default(id='next')
                        | &raquo;
