extends layout

block content

    .page-header
        - const pStyles = {"text-align": "center", "text-transform": "uppercase" };
        h1(style=pStyles) Invest

        style.
            p {
                text-decoration: bold;
            }
        body

            p(style=pStyles) Benefit others and yourself

        .row.row2
            .col-sm-4
                img.image2(src = '/img/portfolio.png' width = '75%')
            .col-sm-4
                img.image3(src = '/img/interest-rate.jpg' width = '75%')
            .col-sm-4
                img.image4(src = '/img/diversify.png' width = '85%')

        .row.row1
            .col-sm-4
                h3 Build a portfolio
                p Choose from thousands of individual loans each with a unique story
            .col-sm-4
                h3 Interest Rates
                p The interest rate on each loan is dynamically calculated based on the credit score of the borrower
            .col-sm-4
                h3 Diversify Risk
                p Ability to invest small amounts in a wide range of loans with different levels of risk

