@import "themes/flatly/variables";

@import "lib/bootstrap/bootstrap";
//@import "lib/font-awesome/font-awesome";
//@import "themes/default/default";
@import "themes/flatly/flatly";
// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  margin-bottom: 75px;
  color: #7c5aa3;
}

a {
  color: #573f72
}
a:hover, a:focus {
    color: #573f72;
}



footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

.navbar-default {
  background-color: #a38bbf;
  border-color: transparent; }
  .navbar-default .navbar-brand {
    color: #fff; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      color: #573f72;
      background-color: transparent; }
  .navbar-default .navbar-text {
    color: #fff; }
  .navbar-default .navbar-nav > li > a {
    color: #fff; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #573f72;
      background-color: transparent; }
  .navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:hover, .navbar-default .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent; }
  .navbar-default .navbar-toggle {
    border-color: #1a252f; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #a38bbf; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #fff; }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: transparent; }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #a38bbf;
    color: #fff; }
  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #fff; }
      .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #573f72;
        background-color: transparent; }
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
      color: #ccc;
      background-color: transparent; } }
  .navbar-default .navbar-link {
    color: #fff; }
    .navbar-default .navbar-link:hover {
      color: #573f72; }
  .navbar-default .btn-link {
    color: #fff; }
    .navbar-default .btn-link:hover, .navbar-default .btn-link:focus {
      color: #573f72; }
    .navbar-default .btn-link[disabled]:hover, .navbar-default .btn-link[disabled]:focus,
    fieldset[disabled] .navbar-default .btn-link:hover,
    fieldset[disabled] .navbar-default .btn-link:focus {
      color: #ccc; }

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}

// Forms
// -------------------------

.form-control-feedback {
   text-align: left;
}

.glyphicon.glyphicon-map-marker {
  color: green;
}

.glyphicon.glyphicon-screenshot {
  color: #d58512;
}

.select2-selection {
  border: 2px solid #dce4ec;
}

.larger {
  padding-top: 13.5px;
  padding-bottom: 13.5px;
}

.flexrow{
  display: flex;
  flex-wrap: wrap;
}

.flexrow > [class*='col-'] {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#alignEnd{
  align-items:flex-end;
}

canvas, img {
  max-width: 100%;
}

#maxCarousel{
  max-height: 75vh;
}

.carousel-caption{
  top:45vh;
}

@media (max-width:1024px){
  .carousel-caption{
    top:30vh;
  }
}

.panel-primary{
  border-color:#3a613a;
}
.panel-heading{
  background-color:#3a613a !important;
}
//progress-bar
.progress{
  margin-bottom:0px;
}
//btn
.longbtn{
  width:100%;
  color: beige;  
  background-color:#8fbc8f;
  border:none;
}
.longbtn:hover, .longbtn:focus, .longbtn:active, .longbtn:active:hover{
  background-color: #4d814d;
}

.btn{
  color:beige;
  background-color:#8fbc8f;
  border:none;
}

.btn:hover, .btn:focus, .btn:active{
  background-color: #4d814d;
}

#previous, #next{
  color:beige;
  background-color:#8fbc8f;
  border:none;
}
#previous:hover, #next:hover, #previous:focus, #next:focus, #previous:active, #next:active{
  background-color: #4d814d;
}
//misc
#lessMargin h2 {
  margin-top:8px;
}

