extends ../layout
block content
  .container.center
    .page-header
      h1= loan.loanTitle
    .row
      .media-body
        .panel.panel-primary
          .panel-heading
            h3.panel-title Description
          .panel-body
            ul.list-group
              if(typeof loan.loanDescription !== "undefined")
                li.list-group-item
                  =loan.loanDescription
              if(typeof loan.amountWanted !== "undefined")
                li.list-group-item
                  ="Amount Wanted: " + loan.amountWanted
              if(typeof loan.amountLoaned !== "undefined")
                li.list-group-item
                  ="Amount Loaned: " + loan.amountLoaned
              if(typeof interestRate !== "undefined")
                li.list-group-item
                  ="Interest Rate: " + interestRate
    .row
      .contact-info(id = "info")
        if(loan.waitingForFunding === true)
          form(id="contact_form", action="?", method="POST")
            input(type='hidden', name='_csrf', value=_csrf)
            input(type='hidden', name='plant_id', value=loan._id)
            button.btn.btn-default(id = "invest")
              | Invest
